<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/metas' %>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= image_tag "outerworldcodes.png", alt: "OWC logo", class: "img-reponsive img-rounded outer-img", size: "50x50" %>
          <%= link_to "OuterWorldCodes", root_path, class: "nav-title" %>
        </div>
        <div class="nav-tabs navbar-collapse collapse navbar-right text-center">
          <ul class="nav navbar-nav">
            <li> <%= link_to "Home", home_path, class: status(yield(:title), "Home") %> </li>
            <li><%= link_to "About", about_path, class: status(yield(:title), "About") %></li>
            <li><%= link_to "Contact", contact_path, class: status(yield(:title), "Contact") %></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>


    <footer class="foot-page">
      <div class="row">
        <div class="col-md-1 col-xs-3">
          <%= image_tag "alienhead.png", alt: "Alien Head", class: "img-responsive", size: "45x30" %>
        </div>
        <div class="col-md-9 col-xs-9">
          <p class="foot-parag"> We see <span class="striked">from other space</span> out-of-the-box</p>
        </div>
        <div class="col-md-2 col-xs-12">
          <hr class="line-divisor hidden-sm hidden-md hidden-lg">
          <ul class="foot-list">
            <li><%= link_to "Equipe", "#", class: "list-elm" %></li>
            <li><%= link_to "Trabalhe Conosco", "#", class: "list-elm" %></li>
            <li><%= link_to "Projetos", "#", class: "list-elm" %></li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>

